################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/types
/types/**/*
/node_modules
/www
/**/.vs/**/*
/dist
